bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
EHADS.H3VR.sln.DotSettings.user
.idea/.idea.EHADS.H3VR/.idea/discord.xml
.idea/.idea.EHADS.H3VR/.idea/encodings.xml
.idea/.idea.EHADS.H3VR/.idea/indexLayout.xml
.idea/.idea.EHADS.H3VR/.idea/vcs.xml
